<!-- BEGIN PAGE HEADER-->
<div class="row">
  <div class="col-md-12"> 
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title"> Change Password </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li> <i class="fa fa-home"></i> <a href="dashboard"> Home </a> <i class="fa fa-angle-right"></i> </li>
      <li> <a href="javascript:void(0);"> Change Password </a> </li>
    </ul>
    <!-- END PAGE TITLE & BREADCRUMB--> 
  </div>
</div>
<% var userdata = JSON.parse(userdata); %>


<!-- END PAGE HEADER--> 
<!-- BEGIN PAGE CONTENT--> 
<!-- BEGIN PAGE CONTENT-->
<div class="row profile">
  <div class="col-md-12"> 
    <!--BEGIN TABS-->
    <div class="tabbable tabbable-custom tabbable-full-width">
      <ul class="nav nav-tabs">
        <li class="active"> <a href="#tab_1_1" data-toggle="tab"> Change Password </a> </li>
      </ul>
       <!--div  id="message" style="margin-top: -53px; margin-left: 267px; position:relative; width:28%;"> 
		<% if(typeof err != "undefined" && err==0){%>
			<div class="alert alert-success display-show">
				<button class="close" data-close="alert"></button>
		        <span><%= message %></span> 
		    </div>
		<% }else if(typeof err != "undefined" && err==1){%>
		    <div class="alert alert-danger display-show">
		        <button class="close" data-close="alert"></button>
		        <span><%= message %></span> 
		    </div>
		<% } %>
       </div-->
        
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1_1">
          <div class="row">
            <div class="col-md-9">
              <div class="row"> 
                
                <!--end col-md-8--> 
                
                <!--end col-md-4--> 
              </div>
              <!--end row-->
              
              <div class="tab-pane active" >
				  <br clear="all"/>
				 <div  id="message" style="margin-top: -25px; margin-left: 269px; position:absolute;">
					<% if(typeof err != "undefined" && err==0){%>
						<font color='green'><%= message %></font> 
					<% }else if(typeof err != "undefined" && err==1){%>
						<font color='red'><%= message %></font> 
					<% } %>		 
				</div>

                <form name="myform" id="myform" class="myform" action="" method="post">
                  <div class="form-group flare">
                    <label class="control-label col-md-4">User Name <span class="required"> * </span></label>
                    <div class="col-md-5 input">
                      <input name="username" id="username" value="<%= userdata.username %>" type="text" readonly="readonly" disabled="disabled" class="form-control" >
                    </div>
                  </div>
                  <div class="form-group flare">
                    <label class="control-label col-md-4">Old Password <span class="required"> * </span></label>
                    <div class="col-md-5 input">
                      <input type="password" autocomplete="off" id="oldpassword" class="form-control" name="oldpassword" value="">
                    </div>
                  </div>
                  <div class="form-group flare">
                    <label class="control-label col-md-4">New Password <span class="required"> * </span></label>
                    <div class="col-md-5 input">
                      <input type="password" autocomplete="off" id="newpassword" class="form-control" name="newpassword" value="">
                    </div>
                  </div>
                  <div class="form-group flare">
                    <label class="control-label col-md-4">Confirm Password <span class="required"> * </span></label>
                    <div class="col-md-5 input">
                      <input type="password" autocomplete="off" id="confirmnewpassword" class="form-control" name="confirmnewpassword" value="">
                    </div>
                  </div>
                  <br clear="all"/>
                  <br clear="all"/>
                  <div class="form-group">
                    <label class="control-label col-md-4">&nbsp; </label>
                    <div class="col-md-8">
                      <input type="submit" value="Save" class="btn theme-btn voilet green pull-left" >
                      <a href="dashboard"  class="btn blue pull-left margd">Cancel</a> </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--tab_1_2--> 
      
    </div>
  </div>
  
  <!--END TABS--> 
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#myform").validate({
			errorElement: 'span', //default input error message container
			errorClass: 'help-block', // default input error message class
			focusInvalid: false, // do not focus the last invalid input
			rules: {
				username: {
					required: true
				},
				oldpassword: {
					required: true
				},
				newpassword: {
					required: true
				},
				confirmnewpassword: {
					required: true
				}
			},
			 messages: {
				username: {
					required: "Username is required."
				},
				oldpassword: {
					required: "Old password is required."
				},
				newpassword: {
					required: "New password is required."
				},
				confirmnewpassword: {
					required: "Confirm new password is required."
				},
			},
			invalidHandler: function (event, validator) { //display error alert on form submit   
				$('.alert-danger', $('#myform')).show();
			},

			highlight: function (element) { // hightlight error inputs
				$(element)
					.closest('.input').addClass('has-error'); // set error class to the control group
			},

			success: function (label) {
				label.closest('.input').removeClass('has-error');
				label.remove();
			},

			errorPlacement: function (error, element) {
				error.insertAfter(element.closest('.form-control'));
			},

			submitHandler: function (form) {
				form.submit();
			}
		});	
	});
	//var validator = $( "#myform" ).validate({
		//~ errorElement: 'span', //default input error message container
	    //~ errorClass: 'help-block', // default input error message class
	    //~ focusInvalid: false, // do not focus the last invalid input
	//~ });
	//~ validator.form();

</script>
