<div role="main">
     <div class="profile-edit">
     <form name="frm" id="mov" action="/users/mov_edit/<%= dataset.id; %>" method="post">
  <!--27-04--><section class="banner_area">
              <div class="layer">
                    <div class="container">
                     <div class="banner_content">
                      <h3 title="About us"><img class="left-img" src="/frontend/images/left-heartline.png" alt="">Movable Property<img class="right-img" src="/frontend/images/right-heartline.png" alt=""></h3>
                    </div>
                 </div>
             </div>
        </section>
            <div class="profiles-inside">
                <div>
                    <div class="profile-content">

                        <div class="left-side-bttn">
                          <ul class="up-edit-bttn">
                            <li>

                          </ul>
                        </div> 
                        <div class="right-side-content">

    

                              <!--li><a href="/users/updateprofile">Edit Background</a></li-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <section class="mypro-section2">

            <div class="main-profile edit">
             <div class="container">
              <div class="white-back">
                <div class="row">
                    <div id="message"  style="margin:-50px 0px 50px 370px; width:100%;">
                        <font color='green'> <%= messages.successmsg; %> </font> 
                        <font color='red'> <%= messages.errormsg; %> </font>    
                    </div>
                       <div class="col-lg-12 col-md-12">
                            <div class="user-info">
                                <ul class="content-user-info">
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 form-group" >
                                                <input type="text" name="regno" id="regno" placeholder="Enter Registration Number" class="form-control" value="<%= dataset.reg_no; %>"/>
                                            </div>
                                            <div class="col-lg-6 col-md-12 form-group">
                                                <input type="text" name="type"  id="type" placeholder="Enter Vehicle Type (like 2/4 wheeler etc)" class="form-control" value="<%= dataset.type; %>" />
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 form-group">
                                                <input type="text" name="make" id="make" placeholder="Enter Make (like Maruti/Mahindra etc)" class="form-control" value="<%= dataset.make; %>" />
                                            </div>
                                            <div class="col-lg-6 col-md-12 form-group">
                                                <input type="text" name="model" id="model" placeholder="Enter Model (like Swift/XUV etc)" class="form-control" value="<%= dataset.model; %>"/>
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
 
                                    </li>
                                    
                                </ul>
                            </div>
                            <ul class="first-btn">
                                <li><button type="submit" value="Submit" id="submit_button">Save</button></li>
                            <li><a href="/users/movable_prop">Back</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
     </form>  
     <!--div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/users/vehicledetails_show">Vehicle Detail</a>
    <a class="dropdown-item" href="/users/propertydetails_show">Property Detail</a> 
  </div>
</div-->
</div>
</div>
   

    <!--  <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Click Here</button>
        <ul class="dropdown-menu">
          <li><a href="/users/vehicledetails_show">Vehicle Detail</a></li>
          <li><a href="/users/propertydetails_show">Property Detail</a></li>

        </ul>
      </div>
 -->


      <script>
         $("#mov").validate({
           
           errorElement: 'span', //default input error message container
           errorClass: 'help-block', // default input error message class
           focusInvalid: false, // do not focus the last invalid input
           ignore: [],
           debug: true,
           rules: {

             regno: {
               required:true,

             },
             type: {
               required: true,
             },

             make: {
               required: true,
             },             
             model: {
               required: true,               
             }

           },
            messages: {
              regno: {
                required: "Registration Number can not be empty",
             },
             type: {
                required: "Vehicle Type can not be empty", 
             },
             make: {
                required: "Make can not be empty",
             },
             model: {
                required: "Model can not be empty",
             }

           },
           invalidHandler: function (event, validator) { //display error alert on form submit  
             $('.alert-danger', $('#frm')).show();
           },      highlight: function (element) { // hightlight error inputs
             $(element)
               .closest('.form-group').addClass('has-error'); // set error class to the control group
           },      success: function (label) {
             label.closest('.form-group').removeClass('has-error');
             label.remove();
           },      errorPlacement: function (error, element) {
             error.insertAfter(element.closest('.form-control'));
           },      submitHandler: function (form) {
             form.submit();
           }
         });

    </script> 